<%= render 'layouts/header' %>

<h1>Minhas Receitas Favoritas</h1>


<% @favorites.each do |favorite| %>
  <% if (favorite.user_id == current_user.id) %>
     <h1><%= link_to @recipes.find(favorite.recipe_id).title, recipe_path(@recipes.find(favorite.recipe_id)[:id])%></h1>
     <ul>
       <li><%= @recipes.find(favorite.recipe_id).recipe_type.name %></li>
       <li><%= @recipes.find(favorite.recipe_id).cuisine.name %></li>
       <li><%= @recipes.find(favorite.recipe_id).difficulty %></li>
       <li><%= @recipes.find(favorite.recipe_id).cook_time %> minutos</li>
     </ul>
  <% end %>
<% end %>
