<%= render 'layouts/header' %>

<div class="container">
<h1><%= @cuisines.name %></h1>

<% @recipes.each do |recipe| %>
  <h1><%= link_to recipe.title, recipe_path(recipe[:id])%></h1>
  <ul>
    <li><%= recipe.recipe_type.name %></li>
    <li><%= recipe.cuisine.name %></li>
    <li><%= recipe.difficulty %></li>
    <li><%= recipe.cook_time %> minutos</li>
  </ul>
<% end %>
</div>
