<div class="container">
  <br>
  <p><%= flash[:sucess] %></p>
  <br>
  <h1><%= @recipe.title %></h1>

  <h3>Detalhes</h3>
  <p><%= @recipe.recipe_type.name %></p>
  <p><%= @recipe.cuisine.name %></p>
  <p><%= @recipe.difficulty %></p>
  <p><%= @recipe.cook_time %> minutos</p>
  <p><%= @recipe.people_serve %></p>

  <h3>Ingredientes</h3>
  <p><%= @recipe.ingredients %></p>

  <h3>Como Preparar</h3>
  <p><%= @recipe.method %></p>

  <p><%= "Enviada por #{@recipe.user.username}" %></p>

  <div>
    <% if user_signed_in? %>
      <% if @recipe.favorite?(current_user) %>
        <%= link_to 'Excluir das Favoritas', unfavorite_recipe_path(@recipe), method: :delete %>
      <% else %>
        <%= link_to 'Salvar como Favorita', favorite_recipe_path(@recipe), method: :post %>
      <% end %>
    <% end %>

  </div>

<div>
  <%= form_tag(share_recipe_path, method: "post") do %>
  <div>
    <%= label_tag(:email, "Email") %>
    <%= text_field_tag(:email) %>
  </div>
  <div>
    <%= label_tag(:message, "Mensagem") %>
    <%= text_area_tag(:message) %>
  </div>
    <%= submit_tag("Enviar") %>
  <% end %>
</div>


  <div>
    <%= link_to 'Editar', edit_recipe_path if (current_user == @recipe.user) %>
  </div>

  <div>
    <%= link_to 'Excluir Receita', @recipe, method: :delete if (current_user == @recipe.user) %>
  </div>

  <div>
    <%= link_to 'Voltar', root_path %>
  </div>

</div>
