<h1>Cadastrar uma Cozinha</h1>

<%= form_for(@cuisine) do |f| %>

<div>
<%= f.label :name, 'Nome' %>
<%= f.text_field :name %>
</div>
<div>
<%= f.submit('Enviar') %>
</div>

<% end %>
<br>
<alert><%= alert %><alert>
