<div class="container">

  <h1>Cadastrar uma Cozinha</h1>
  <br>
  <%= flash[:error] %>
  <br>

  <%= form_for(@cuisine) do |f| %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.submit('Enviar') %>
  </div>

  <% end %>
</div>
