<div class="container">
  <h1>CookBook</h1>
  <p>Bem-vindo ao maior livro de receitas online</p>
  <br>
  <p><%= "Bem-vindo #{current_user.username}" if user_signed_in? %></p>

  <%= flash[:error] %>
  <%= flash[:sucess] %>

  <br>

  <div class="row">

    <div class="col-md-2">

      <p style="font-size:20px">Tipo<p>
      <% @recipe_types.each do |recipe_type| %>
        <h1 style="font-size:15px"><%= link_to recipe_type.name, recipe_type_path(recipe_type[:id]) %></h1>
      <% end %>

      <p style="font-size:20px">Cozinha<p>
      <% @cuisines.each do |cuisine| %>
        <h1 style="font-size:15px"><%= link_to cuisine.name, cuisine_path(cuisine[:id])%></h1>
      <% end %>

    </div>


    <div class="col-md-5" >
      <h1 style="font-size:30px">Últimas Receitas</h1>
      <div class="last_recipes">
      <% @last_recipes.each do |recipe| %>
      <div class="col-md-6" >
        <br>
        <img><%= image_tag recipe.image.url, width: "130", height: "130"  if recipe.image.file? %></img>
      </div>
      <div class="col-md-6" >

            <h1 style="font-size:20px">
              <%= link_to recipe.title, recipe_path(recipe[:id]), class: "last_recipes"%>
              <img><%= image_tag "star.png", width: "25", height: "25" if recipe.featured %></img>
            </h1>

            <ul>
              <li>Tipo: <%= recipe.recipe_type.name %></li>
              <li>Cozinha: <%= recipe.cuisine.name %></li>
              <li>Dificuldade: <%= recipe.difficulty %></li>
              <li>Tempo de preparo: <%= recipe.cook_time %> minutos</li>
            </ul>


        </div>

      <% end %>
      </div>

    </div>


    <div class="col-md-5">
      <h1 style="font-size:30px">Favoritas dos usuários</h1>
      <div class="more_favorited_recipes">
      <% @more_favorited.each do |recipe| %>
      <div class="col-md-6">
        <br>
          <img><%= image_tag recipe.image.url, width: "130", height: "130" if recipe.image.file? %></img>
      </div>
      <div class="col-md-6">

          <h1 style="font-size:20px">
            <%= link_to recipe.title, recipe_path(recipe[:id]), class: "more_favorited_recipes" %>
            <img><%= image_tag "star.png", width: "25", height: "25" if recipe.featured %></img>
          </h1>
          <ul>
            <li>Tipo: <%= recipe.recipe_type.name %></li>
            <li>Cozinha: <%= recipe.cuisine.name %></li>
            <li>Dificuldade: <%= recipe.difficulty %></li>
            <li>Tempo de preparo: <%= recipe.cook_time %> minutos</li>
          </ul>


        </div>


    <% end %>
      </div>
  </div>
</div>
</div>
