<%= render 'layouts/header' %>

<div class="container">

<h1>Cadastrar um Tipo de Receita</h1>

<%= form_for(@recipe_type) do |f| %>

<div>
<%= f.label :name %>
<%= f.text_field :name %>
</div>
<div>
<%= f.submit('Enviar') %>
</div>

<% end %>
<br>
<alert><%= alert %><alert>
</div>
