<!DOCTYPE html>
<html>
  <head>
    <title>MyCookbook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= root_path %>">Social Recipes</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <%= form_tag(search_recipes_path, method: 'get') do %>
            <%= label_tag :term, 'Busca' %>
            <%= text_field_tag :term %>
            <%= submit_tag 'Buscar' %>
          <% end %>

          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Enviar uma receita', new_recipe_path if user_signed_in? %></li>
            <li><%= link_to 'Entrar', new_user_session_path  unless user_signed_in? %></li>
            <li><%= link_to 'Sair', destroy_user_session_path, method: :delete  if user_signed_in? %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
    <%= yield %>
  </body>
</html>
